<?xml version="1.0" encoding="UTF-8"?>
 <widget xmlns="http://www.w3.org/ns/widgets" height="200" id="http://MiniApps" version="1.0" viewmodes="windowed fullscreen" width="200">
    
    <name short="MiniApps">MiniApps</name>    

    <description>S40 Mini Web Apps</description>
    
    <!-- Note: Author href MUST BE Url encoded 
        @see http://en.wikipedia.org/wiki/Percent-encoding -->       
    <icon src="icon.png"/>

    <content src="index.html"></content>
    
    <author email="john.doe@example.com" href="http://www.example.com">
        John Doe
    </author>
    
    <license>
	   
    </license>
    
    <preference name="apikey" value="h2232ede2ttt21" readonly = "false"/>
                
   	<feature name="nokia://s40.nokia.com/SAWRT/2.0" required="true" />
</widget>