- var mac = require("./jadehelpers")

tr
  td#tab_1.tab.tab_3_tabs.tab_selected(onclick=mac.selectTab(1, 3)
    | Elements
  td#tab_2.tab.tab_3_tabs.tab_not_selected(onclick=mac.selectTab(2,3)
    | Navigation
  td#tab_3.tab.tab_3_tabs_right.tab_not_selected(onclick=mac.selectTab(3,3)
    | Patterns


