#checkBoxes.slider_section.hide
  table.fill(cellpadding='0', cellspacing='0', summary='Tab Table')
    tr#checkBoxesTabBar
      td#checkBoxesTab_1.tab.tab_3_tabs.tab_selected(onclick='mwl.setGroupTarget("#checkBoxesTabControlContent", "#checkBoxesTab_1_content", "show", "hide"); mwl.setGroupTarget("#checkBoxesTabBar", "#checkBoxesTab_1", "tab_selected", "tab_not_selected");') NORMAL
      td#checkBoxesTab_2.tab.tab_3_tabs.tab_not_selected(onclick='mwl.setGroupTarget("#checkBoxesTabControlContent", "#checkBoxesTab_2_content", "show", "hide"); mwl.setGroupTarget("#checkBoxesTabBar", "#checkBoxesTab_2", "tab_selected", "tab_not_selected");') INACTIVE
      td#checkBoxesTab_3.tab.tab_3_tabs_right.tab_not_selected(onclick='mwl.setGroupTarget("#checkBoxesTabControlContent", "#checkBoxesTab_3_content", "show", "hide"); mwl.setGroupTarget("#checkBoxesTabBar", "#checkBoxesTab_3", "tab_selected", "tab_not_selected");') GROUPED
  // Tab Control Content
  #checkBoxesTabControlContent
    #checkBoxesTab_1_content.show
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 1
            td.checkable_item_cell_right
              input(type='checkbox', checked='checked')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 2
            td.checkable_item_cell_right
              input(type='checkbox')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 3
            td.checkable_item_cell_right
              input(type='checkbox', checked='checked')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 4
            td.checkable_item_cell_right
              input(type='checkbox')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 5
            td.checkable_item_cell_right
              input(type='checkbox')
    #checkBoxesTab_2_content.hide
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 1
            td.checkable_item_cell_right
              input(type='checkbox', disabled='disabled', checked='checked')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 2
            td.checkable_item_cell_right
              input(type='checkbox', disabled='disabled')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 3
            td.checkable_item_cell_right
              input(type='checkbox', disabled='disabled', checked='checked')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 4
            td.checkable_item_cell_right
              input(type='checkbox', disabled='disabled')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 5
            td.checkable_item_cell_right
              input(type='checkbox', disabled='disabled')
    #checkBoxesTab_3_content.hide
      .featured_list_item Group 1
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 1-1
            td.checkable_item_cell_right
              input(type='checkbox', checked='checked')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 1-2
            td.checkable_item_cell_right
              input(type='checkbox', checked='checked')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 1-3
            td.checkable_item_cell_right
              input(type='checkbox')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 1-4
            td.checkable_item_cell_right
              input(type='checkbox')
      .featured_list_item Group 2
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 2-1
            td.checkable_item_cell_right
              input(type='checkbox', checked='checked')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 2-2
            td.checkable_item_cell_right
              input(type='checkbox', checked='checked')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 2-3
            td.checkable_item_cell_right
              input(type='checkbox')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 2-4
            td.checkable_item_cell_right
              input(type='checkbox')
