#expandableList.slider_section.hide

  #expandable_category1.category
    #expandable_category1_header.category_header(onclick='\
    mwl.toggleClass("#expandable_category1_items", "show");\
    mwl.toggleClass("#expandable_category1_items", "hide");\
    mwl.toggleClass("#expandable_category1_closed_arrow", "hide");\
    mwl.toggleClass("#expandable_category1_closed_arrow", "show");\
    mwl.toggleClass("#expandable_category1_open_arrow", "hide");\
    mwl.toggleClass("#expandable_category1_open_arrow", "show");')
      table.fill(cellpadding='0', cellspacing='0', summary='Category Table')
        tr
          td.category_left
            div Category 1
          td.category_right
            span
              img#expandable_category1_closed_arrow.show(src='img/button_right.png', alt='show')
              img#expandable_category1_open_arrow.hide(src='img/button_down.png', alt='hide')
    #expandable_category1_items.hide.item_container
      .text_list_item(onclick='') Item 1-1
      .text_list_item(onclick='') Item 1-2
      .text_list_item(onclick='') Item 1-3
      .text_list_item(onclick='') Item 1-4
  #expandable_category2.category
    #expandable_category2_header.category_header(onclick='\
    mwl.toggleClass("#expandable_category2_items", "show");\
    mwl.toggleClass("#expandable_category2_items", "hide");\
    mwl.toggleClass("#expandable_category2_closed_arrow", "hide");\
    mwl.toggleClass("#expandable_category2_closed_arrow", "show");\
    mwl.toggleClass("#expandable_category2_open_arrow", "hide");\
    mwl.toggleClass("#expandable_category2_open_arrow", "show");')
      table.fill(cellpadding='0', cellspacing='0', summary='Category Table')
        tr
          td.category_left
            div Category 2
          td.category_right
            span
              img#expandable_category2_closed_arrow.show(src='img/button_right.png', alt='show')
              img#expandable_category2_open_arrow.hide(src='img/button_down.png', alt='hide')
    #expandable_category2_items.hide.item_container
      .text_list_item(onclick='') Item 2-1
      .text_list_item(onclick='') Item 2-2
      .text_list_item(onclick='') Item 2-3
      .text_list_item(onclick='') Item 2-4
  #expandable_category3.category
    #expandable_category3header.category_header(onclick='\
    mwl.toggleClass("#expandable_category3_items", "show");\
    mwl.toggleClass("#expandable_category3_items", "hide");\
    mwl.toggleClass("#expandable_category3_closed_arrow", "hide");\
    mwl.toggleClass("#expandable_category3_closed_arrow", "show");\
    mwl.toggleClass("#expandable_category3_open_arrow", "hide");\
    mwl.toggleClass("#expandable_category3_open_arrow", "show");')
      table.fill(cellpadding='0', cellspacing='0', summary='Category Table')
        tr
          td.category_left
            div Category 3
          td.category_right
            span
              img#expandable_category3_closed_arrow.show(src='img/button_right.png', alt='show')
              img#expandable_category3_open_arrow.hide(src='img/button_down.png', alt='hide')
    #expandable_category3_items.hide.item_container
      .text_list_item(onclick='') Item 3-1
      .text_list_item(onclick='') Item 3-2
      .text_list_item(onclick='') Item 3-3
      .text_list_item(onclick='') Item 3-4
  #expandable_category4.category
    #expandable_category4_header.category_header(onclick='\
    mwl.toggleClass("#expandable_category4_items", "show");\
    mwl.toggleClass("#expandable_category4_items", "hide");\
    mwl.toggleClass("#expandable_category4_closed_arrow", "hide");\
    mwl.toggleClass("#expandable_category4_closed_arrow", "show");\
    mwl.toggleClass("#expandable_category4_open_arrow", "hide");\
    mwl.toggleClass("#expandable_category4_open_arrow", "show");')
      table.fill(cellpadding='0', cellspacing='0', summary='Category Table')
        tr
          td.category_left
            div Category 4
          td.category_right
            span
              img#expandable_category4_closed_arrow.show(src='img/button_right.png', alt='show')
              img#expandable_category4_open_arrow.hide(src='img/button_down.png', alt='hide')
    #expandable_category4_items.hide.item_container
      .text_list_item(onclick='') Item 4-1
      .text_list_item(onclick='') Item 4-2
      .text_list_item(onclick='') Item 4-3
      .text_list_item(onclick='') Item 4-4
  #expandable_category5.category
    #expandable_category5_header.category_header(onclick='\
    mwl.toggleClass("#expandable_category5_items", "show");\
    mwl.toggleClass("#expandable_category5_items", "hide");\
    mwl.toggleClass("#expandable_category5_closed_arrow", "hide");\
    mwl.toggleClass("#expandable_category5_closed_arrow", "show");\
    mwl.toggleClass("#expandable_category5_open_arrow", "hide");\
    mwl.toggleClass("#expandable_category5_open_arrow", "show");')
      table.fill(cellpadding='0', cellspacing='0', summary='Category Table')
        tr
          td.category_left
            div Category 5
          td.category_right
            span
              img#expandable_category5_closed_arrow.show(src='img/button_right.png', alt='show')
              img#expandable_category5_open_arrow.hide(src='img/button_down.png', alt='hide')
    #expandable_category5_items.hide.item_container
      .text_list_item(onclick='') Item 5-1
      .text_list_item(onclick='') Item 5-2
      .text_list_item(onclick='') Item 5-3
      .text_list_item(onclick='') Item 5-4
  #expandable_category6.category
    #expandable_category6_header.category_header(onclick='\
    mwl.toggleClass("#expandable_category6_items", "show");\
    mwl.toggleClass("#expandable_category6_items", "hide");\
    mwl.toggleClass("#expandable_category6_closed_arrow", "hide");\
    mwl.toggleClass("#expandable_category6_closed_arrow", "show");\
    mwl.toggleClass("#expandable_category6_open_arrow", "hide");\
    mwl.toggleClass("#expandable_category6_open_arrow", "show");')
      table.fill(cellpadding='0', cellspacing='0', summary='Category Table')
        tr
          td.category_left
            div Category 6
          td.category_right
            span
              img#expandable_category6_closed_arrow.show(src='img/button_right.png', alt='show')
              img#expandable_category6_open_arrow.hide(src='img/button_down.png', alt='hide')
    #expandable_category6_items.hide.item_container
      .text_list_item(onclick='') Item 6-1
      .text_list_item(onclick='') Item 6-2
      .text_list_item(onclick='') Item 6-3
      .text_list_item(onclick='') Item 6-4